
.quizSection {
   text-align: center;
   margin: 10%;
   padding: 12%;
}

button {
        border: none;
        background-color: #e66c4e;
        color: white;
        border-radius: 5px;
        padding: 10px 16px 10px 16px;
        font-size: 17px;
        font-family: 'sans-serif', arial;
        margin: 4px;
}

.upright{
    float: right;
    
    

}

.upleft {

    float: left;
    
}

